# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
*.iml
.gradle/
local.properties
.idea/
android/.gradle/
android/app/release/
android/key.properties

# iOS and macOS
**/Pods/
**/Podfile.lock
ios/Flutter/.last_build_id
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/Generated.xcconfig

# VS Code
.vscode/

# IntelliJ
.idea/

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad*
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3

# Other
*.lock
.DS_Store
*.log
# Firebase configuration
lib/firebase_options.dart


